/* .slider-container {
    border: 1px solid yellow;
    
}
.author-img {
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.author-img img {
    width: 100%;
}
.author-Image
{
    display: grid;
    place-items: center;
}
.author-content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
